<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
</head>
<style type="text/css">
    th {
        color: #c5c5c5;
    }
</style>

<body ng-app="myApp" ng-controller="myCtrl">

    <div class="container">
        <h2>NCOV-19</h2>
        <div class="row">
            <div class="col-sm-6">
                tìm kiếm theo tên QG:
                <input ng-model="searchtxt.type" type="text">
            </div>
            iềm kiếm theo só người nhiễm:
            <input ng-model="searchtxt.total" type="number">
            <div class="col-sm-6">

            </div>

        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th ng-click="orderByMe('type')">Quốc gia</th>
                        <th ng-click="orderByMe('total')">bị nhiễm</th>
                        <th>chữa khỏi</th>
                        <th>Nguy kich</th>
                        <th>tử vong</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in list | orderBy:myOrderBy |filter:searchtxt">
                    <tr ng-class="{'table-success': item.death > 1000 }">
                        <td>{{item.type}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.recovered}}</td>
                        <td>{{item.critical}}</td>
                        <td>{{item.death}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http) {
                $scope.list = null;
                $scope.LoadData = function() {
                    $http.get("https://tygia.com/app/covid-19/api.json?type=2")
                        .then(function(response) {
                            $scope.list = response.data.items;
                            console.log($scope.list);
                        });

                }
                $scope.LoadData();
                $scope.orderByMe = function(x) {
                    $scope.myOrderBy = x;
                }
            });
        </script>
</body>

</html>